* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: rgb(234, 234, 234);
}

.navbar {
  background-color: rgb(197, 179, 255); /* Violeta clarito */
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navbar h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.category-container {
  margin-bottom: 40px; /* Separación entre categorías */
}

.category-title {
  font-size: 2rem;
  color: rgb(97, 32, 158); /* Color del título */
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(97, 32, 158); /* Subrayado */
  padding-bottom: 10px;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(97, 32, 158);
  margin-bottom: 20px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
}

.card {
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 250px;
  padding: 10px;
}

.card p {
  background-color: white;
  font-size: 1rem;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}
